   <div id="app">
  <nav class="navbar navbar-expand navbar-light bg-success">
    <a href="#" class="navbar-brand">Travel Request Management</a>
    
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">Home </a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
      </li>
      <li class="nav-item" *ngIf="showManagerBoard">
        <a href="/manager" class="nav-link" routerLink="manager">Manager Board</a>
      </li> 

   
      <li class="nav-item" *ngIf="showManagerSiteVisitView">
        <a href="/manager/site-visit-view" class="nav-link" routerLink="managerSiteVisitView">Site Visits</a>
      </li>
      <li class="nav-item" *ngIf="showManagerCourseEnquirySummary">
        <a href="/manager/course-enquiries-view" class="nav-link" routerLink="managerCourseEnquirySummary">Course Enquiries</a>
      </li>
      <li class="nav-item" *ngIf="showManagerResourceEnquirySummary">
        <a href="/manager/resource-enquiries-view" class="nav-link" routerLink="managerResourceEnquirySummary">Resource Enquiries</a>
      </li> 
      
     </ul> 
    

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul> 

     <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav> 

  <div >
    <router-outlet></router-outlet>
  </div>
  <footer class="footer">
    <div class="container">
      <span>All rights reserved 2021 @SE2</span> <br>
      <img class="img"src="../assets/se2-logo.jpg" alt="">
    </div>
  </footer>

</div>     


  <!-- <mat-drawer-container >
  <mat-drawer mode="side" [opened]="sideBarOpen">
    <app-sidenav></app-sidenav>
  </mat-drawer>
  <mat-drawer-content>
    <app-header (toggleSidebarForMe)="sideBarToggler()"></app-header>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>    -->